@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Artist" asp-action="Index">Artistas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Album" asp-action="Index">Albumes</a>
    </li>

    @if (SignInManager.IsSignedIn(User))
    {



    }