@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Sound Beats</h1>
    <h2 >¡El poder de la música en internet!</h2>
    <p class="text-center mt-5">
        <img src="~/img/header-sound.svg" height="350" />
    </p>

</div>
